#page-home {
  height: 100vh;
}

#page-home .content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#page-home .content header {
  margin: -80px 0 160px;
}

#page-home .content main {
  flex: 1;
  max-width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home .content main h1 {
  font-size: 50px;
  color: var(--title-color);
  font-weight: 700;
}

#page-home .content main p {
  font-size: 28px;
  margin-top: 24px;
  line-height: 46px;
}

#page-home .content main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: var(--secondary-color);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin-top: 40px;
}

#page-home .content main a strong {
  flex: 1;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

#page-home .content main a:hover {
  background: var(--primary-color);
}

#page-home .footer {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

#page-home .footer p {
  text-align: center;
  font-variant: small-caps;
  font-size: 14px;
  color: #71757b;
}

#page-home .footer p svg {
  margin-bottom: -3px;
}

#page-home .footer p a {
  font-variant: small-caps;
  font-size: 14px;
  color: #71757b;
  text-decoration: none;
}

#page-home .footer p a:hover {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home .content header {
    margin: 48px auto 0;
  }

  #page-home .content main {
    align-items: center;
  }

  #page-home .content main h1 {
    font-size: 42px;
  }

  #page-home .content main p {
    font-size: 24px;
  }
}
